/*--------------------------------------------------------------------------------------------------------------*/
   /*poorly made mobile compatibility*/
   body {
    /* background-image: url(images/moment.png);*/
     margin: 0;
     padding: 0;
     background-image: url('images/dfgdfgdfgdfgdfgdfgdfgdfgdfgdfg.png');
     background-position: center center;
  }
  .top-header { 
   box-shadow: 0px 9px 40px rgb(0, 0, 0);
   width:100%; 
   height:44px; 
   margin: 0 auto;
   padding: 0;
   background-color: #c290ff; 
   background-image: url('images/grad.png');
   background-position: center center;
 }
 .button {
   font-family:Arial,Helvetica,sans-serif;
   font-size:15px;
   margin: 0 25px 0 2px; /* left and right */
   height: 40px;
   background: transparent;
   border: none;
   color: rgb(167, 167, 167);
   cursor: pointer;
   text-shadow: 0px 4px 5px  black;
   position: relative;
   top: 50%;
   -webkit-transform: translateY(-50%);
 }
  .dlpng{
  height : 44px;
  width : 415px;
  margin-top: 169;
 }
 .box {
  position: relative;
  object-fit: contain;
  height : 44px;
  width : 415px;
  margin-top: -200;
  margin-left: 0;
}
 .box2 {
  position: relative;
  object-fit: contain;
  height : 44px;
  width : 415px;
  margin-top: 124;
  margin-left: 0;
}
 .guy {
    /*The invisible buttons for the downloads*/
    width: 205px;
    height: 44px;
    margin: 0 0.1; 
 }
.lego {
    width: 350px;
    height: 192;
    /*ABT Ultra LOGO*/
    margin-left: -175;
    margin-top: 0px;
}
.abt {
    /*App Icon lol*/
    margin-left: -118;
    margin-top: -30px;
     height: 235px;
    width: 235px;
}  
.ver {
    /*Version*/
    width: 277px;
    height: 43px;
    margin-left: -140;
    margin-top: 0px;
} 
.mainglow {
    margin-left: 1;
    margin-top: 5;   
    display: block;
    width:0px;
    height:0px;
} 
.bird{  
    /*The angry bird art image inside of "f"*/
    margin-left: 100;
    margin-top: 5;   
    display: block;
    width:0px;
    height:0px;
    }
.f{
    /*Holds the angry bird art and the glow behind it*/

    z-index:30; 
    position: relative;
    object-fit: contain;
    height: 235px;
    width: 235px;
    margin-top: 200;
    margin-left: 0;
}

h2 {
    color:#ffffff
}
p {
    color:#ffffff
 }
 /*--------------------------------------------------------------------------------------------------------------*/
   /*poorly made PC compatibility*/
    @media (min-width: 983px) {
   body {
    /* background-image: url(images/moment.png);*/
     margin: 0;
     padding: 0;
     background-image: url('images/dfgdfgdfgdfgdfgdfgdfgdfgdfgdfg.png');
     background-position: center center;
  }
  .top-header { 
   box-shadow: 0px 9px 40px rgb(0, 0, 0);
   width:100%; 
   height:44px; 
   margin: 0 auto;
   padding: 0;
   background-color: #c290ff; 
   background-image: url('images/grad.png');
   background-position: center center;
 }
 .button {
   font-family:Arial,Helvetica,sans-serif;
   font-size:15px;
   margin: 0 25px 0 2px; /* left and right */
   height: 40px;
   background: transparent;
   border: none;
   color: rgb(167, 167, 167);
   cursor: pointer;
   text-shadow: 0px 4px 5px  black;
   position: relative;
   top: 50%;
   -webkit-transform: translateY(-50%);
 }
 .abt{
height: 0px;
width: 0px;
 }
 .guy {
    /*The invisible buttons for the downloads*/
    width: 352;
    height: 75;
    margin: 0 2; 
 }
 .dlpng{
margin-top: auto;
width:716px; 
height:75px; 
 }
 .box {
  position: relative;
  object-fit: contain;
  height : 75px;
  width : 716px;
  margin-top: 0;
  margin-left: 0;
}
 .box2 {
  position: relative;
  object-fit: contain;
  height : 75px;
  width : 716px;
  margin-top: -75;
  margin-left: 0;
}
.lego {
    /*ABT Ultra LOGO*/
    width: 431px;
    height: 236px;
    margin-left: -220;
    margin-top: 0px;
} 
.ver {
    /*Version*/
    width: 404px;
    height: 62px;
    margin-left: -205;
    margin-top: 0px;
} 
.bird{  
    /*The angry bird art image inside of "f"*/
    margin-left: 45;
    margin-top: 45;   
    display: block;
    width:568;
    height:320;
    }
.f{
    /*Holds the angry bird art and the glow behind it*/
    z-index:30; 
    position: relative;
    object-fit: contain;
    height : 410px;
    width : 658px;
    margin-top: 200;
    margin-left: 0;
}
    
.mainglow {
     margin-left: 0;
     margin-top: 0;    
     display: block;
     width:658px;
     height:410px;
}  
h2 {
    color:#ffffff
}
p {
    color:#ffffff
 }
}