/*--------------------------------------------------------------------------------------------------------------*/
   /*poorly made mobile compatibility*/
   body {
    /* background-image: url(images/moment.png);*/
     margin: 0;
     padding: 0;
     background-image: url('images/dfgdfgdfgdfgdfgdfgdfgdfgdfgdfg.png');
     background-position: center center;
  }
   .top-header { 
    filter: drop-shadow(5px 20px 20px rgba(34, 0, 44, 0.838));
     width:90%; 
     height:40px; 
     margin: 0 auto;
     padding: 0;
     background-color: #c290ff; 
     border-bottom: 4px solid #943cfc;
   }
   .button {
     font-size:16px;
     margin: 0 5px 0 2px; /* left and right */
     height: 40px;
     background: transparent;
     border: none;
     color: white;
     cursor: pointer;
     
     position: relative;
     top: 50%;
     -webkit-transform: translateY(-50%);
   } 
 .guy {
    margin: 0 2; 
 }
 .box {
  position: relative;
  object-fit: contain;
  height : 75px;
  width : 716px;
  margin-top: 0;
  margin-left: 0;
}
 .box2 {
  position: relative;
  object-fit: contain;
  height : 75px;
  width : 716px;
  margin-top: -75;
  margin-left: 0;
}
.lego {
    margin-left: -220;
    margin-top: 0px;
} 
.ver {
    margin-left: -205;
    margin-top: 0px;
} 
.dl {
    margin-left: -360;
    margin-top: -25px;    
}
.android {
    margin-left: -360;
    margin-top: -25px;    
} 
.ios {
    margin-left: 4;
    margin-top: -25px;    
} 
.home {
    margin-left: -193.5;
    margin-top: 765px;    
} 
.giantred2 {
    margin-left: -853.5;
    margin-top: -400px;    
} 
.giantred {
    margin-left: 453.5;
    margin-top: -400px;    
} 
.bird{  
    margin-left: 45;
    margin-top: 45;   
    display: block;
    width:568;
    height:320;
    }
    .f{
        z-index:30; 
        position: relative;
        object-fit: contain;
        height : 410px;
        width : 658px;
        margin-top: 200;
        margin-left: 0;
    }
    
.mainglow {
     margin-left: 0;
     margin-top: 0;    
     display: block;
}  
h2 {
    color:#ffffff
}
p {
    color:#ffffff
 }
    .fixe {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 30px;

    }