/*--------------------------------------------------------------------------------------------------------------*/
   /*poorly made mobile compatibility*/
body {
  /* background-image: url(images/moment.png);*/
   margin: 0;
   padding: 0;
   background-image: url('images/lev.png');
   background-position: center center;
}
.yt {
  position: relative;
  margin: 300 10;
  height : 156px;
  width : 208px;
  }
  .fifi{
    position: relative;
    height : 485px;
    width : 335px;
    z-index:30;  
 }
 .box {
  z-index:30; 
  position: relative;
  object-fit: contain;
  height : 485px;
  width : 335px;
  margin-top: 0;
  margin-left: 0;
}
 h2 {
    max-width: 80vw;
    min-width: 65vw;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    font-size:34px;
    margin-top: 17;
    z-index:30;  
    padding: 0;
    text-shadow: 5px 3px #000000;
    position: relative;
  }
  .second {
    max-width: 80vw;
    min-width: 65vw;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    font-size:25px;
    margin-top: -17;
    z-index:30;  
    padding: 0;
    text-shadow: 3px 3px #000000;
    position: relative;
  }
  .third {
    max-width: 80vw;
    min-width: 65vw;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    font-size:25px;
    margin-top: -7;
    z-index:30;  
    padding: 0;
    text-shadow: 3px 3px #000000;
    position: relative;
  }
  .top-header { 
   box-shadow: 0px 9px 40px rgb(0, 0, 0);
   width:100%; 
   height:44px; 
   margin: 0 auto;
   padding: 0;
   background-color: #c290ff; 
   background-image: url('images/grad.png');
   background-position: center center;
 }
 .button {
   font-size:16px;
   margin: 0 16px 0 2px; /* left and right */
   height: 40px;
   background: transparent;
   border: none;
   color: rgb(167, 167, 167);
   cursor: pointer;
   text-shadow: 0px 4px 5px  black;
   position: relative;
   top: 50%;
   -webkit-transform: translateY(-50%);
 }
/*--------------------------------------------------------------------------------------------------------------*/
   /*poorly made pc compatibility*/
 @media (min-width: 983px) {
  body {
    /* background-image: url(images/moment.png);*/
     margin: 0;
     padding: 0;
     background-image: url('images/lev.png');
     background-position: center center;
  }
  .fifi{
    position: relative;
    height : 606px;
    width : 419px;
    z-index:30;  
 }
 .box {
  z-index:30; 
  position: relative;
  object-fit: contain;
  height : 606px;
  width : 419px;
  margin-top: -210px;
  -webkit-transform: translateX(-90.7%);
  /*
  margin-top: -210;
  margin-left: 289;
  */
}
  .yt {
    position: relative;
    height : 187px;
    width : 250px;
    margin: 310 70;
    z-index:30; 
  }
  .LR {
    position: relative;
    margin-left: -1470;
    margin-top: 43.4;
    z-index:30;  
    }
 h2 {
    max-width: 70vw;
    min-width: 70vw;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    font-size:44px;
    margin-top: 80;
    z-index:30;  
    padding: 0;
    text-shadow: 3px 3px #000000;
    position: relative;
  }
  .second {
    max-width: 70vw;
    min-width: 70vw;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    font-size:35px;
    margin-top: -20;
    z-index:30;  
    padding: 0;
    text-shadow: 3px 3px #000000;
    position: relative;
  }
  .third {
    max-width: 70vw;
    min-width: 70vw;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    font-size:35px;
    margin-top: -10;
    z-index:30;  
    padding: 0;
    text-shadow: 3px 3px #000000;
    position: relative;
  }
    .top-header { 
   box-shadow: 0px 9px 40px rgb(0, 0, 0);
   width:100%; 
   height:44px; 
   margin: 0 auto;
   padding: 0;
   background-color: #c290ff; 
   background-image: url('images/grad.png');
   background-position: center center;
 }
 .button {
   font-size:16px;
   margin: 0 25px 0 2px; /* left and right */
   height: 40px;
   background: transparent;
   border: none;
   color: rgb(167, 167, 167);
   cursor: pointer;
   text-shadow: 0px 4px 5px  black;
   position: relative;
   top: 50%;
   -webkit-transform: translateY(-50%);
 }
}