.top-header { 
    filter: drop-shadow(5px 20px 20px rgba(34, 0, 44, 0.838));
     width:90%; 
     height:40px; 
     margin: 0 auto;
     padding: 0;
     background-color: #c290ff; 
     border-bottom: 4px solid #943cfc;
   }
   .button {
     font-size:16px;
     margin: 0 5px 0 5px; /* left and right */
     height: 40px;
     background: transparent;
     border: none;
     color: white;
     cursor: pointer;
     
     position: relative;
     top: 50%;
     transform: translateY(-50%);
   }  
   
button{
overflow: hidden;
position: fixed;
top: 50%;
left: 28%;
background: #000000;
text-align: center;
font-family: fent;
bottom: 0;
font-size: 19px;
cursor: pointer;
font-family: "Cheese";
border: none !important;
}
.wsp{
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 28%;
    background: #000000;
    text-align: center;
    font-family: fent;
    bottom: 0;
    font-size: 19px;
    cursor: pointer;
    font-family: "Cheese";
    border: none !important;
    }

@font-face {
font-family: "Cheese";
src: url(Latinka\ Regular.ttf);
}
.sack {
    width: 44vw;
    height: 3vw;
    top: 50%;
    left: 28%;
    background: #000000;
    text-align: center;
    font-family: fent;
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
  }
audio { 
display:none;
}
.air {
    margin-left: 1165px;
    margin-top: 90px;
    rotate: 30deg;
}
.p1 {
    margin-left: 965px;
    margin-top: 30px;
    rotate: -28deg;
}
.p2 {
    margin-left: 965px;
    margin-top: 740px;
    rotate: 30deg;
}
.banned {
    margin-left: 845px;
    margin-top: 0px;
}
.thumb1 { 
    margin-left: 20px;
    margin-top: 66px;
    display: block;
    } 
.thumb2 { 
    margin-left: 405px;
    margin-top: -202px;
    display: block;
    } 
.thumb3 { 
    margin-left: 20px;
    margin-top: 40px;
    display: block;
    } 
.thumb4 { 
    margin-left: 405px;
    margin-top: -222px;
    z-index:30;     display: block;
    } 
.thumb5 { 
    margin-left: 20px;
    margin-top: 40px;
    display: block;
    } 
.thumb6 { 
    margin-left: 405px;
    margin-top: -222px;
    display: block;
    } 
.thumb7 { 
    margin-left: 20px;
    margin-top: 40px;
    display: block;
    } 
.thumb8 { 
    margin-left: 405px;
    margin-top: -222px;
    z-index:30;     
    display: block;
    } 
 .thumb9 { 
    margin-left: 20px;
    margin-top: 40px;
    display: block;
    } 
.thumb10 { 
    margin-left: 405px;
    margin-top: -222px;
    display: block;
    } 
.thumb11 { 
    margin-left: 20px;
    margin-top: 40px;
    display: block;
    } 
.thumb12 { 
    margin-left: 405px;
    margin-top: -222px;
    z-index:30;     
    display: block;
    } 
.thumb13 { 
    margin-left: 20px;
    margin-top: 40px;
    display: block;
    } 
.thumb14 { 
    margin-left: 405px;
    margin-top: -222px;
    display: block;
    } 
.thumb15 { 
    margin-left: 20px;
    margin-top: 40px;
    display: block;
    } 
.thumb16 { 
    margin-left: 405px;
    margin-top: -222px;
    z-index:30;     
    display: block;
    } 
  .thumb17 { 
    margin-left: 20px;
    margin-top: 40px;
    display: block;
    } 
.thumb18 { 
    margin-left: 405px;
    margin-top: -222px;
    z-index:30;     
    display: block;
    } 
.thumb19 { 
    margin-left: 20px;
    margin-top: 40px;
    display: block;
    } 
.thumb20 { 
    margin-left: 405px;
    margin-top: -222px;
    display: block;
    } 
.thumb21 { 
    margin-left: 20px;
    margin-top: 40px;
    display: block;
    } 
.thumb22 { 
    margin-left: 405px;
    margin-top: -222px;
    z-index:30;     
    display: block;
    } 
    
h2 {

    color:#ffffff

    }
    p {

        color:#ffffff
    
        }

    .fixe {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 30px;

    }