/*--------------------------------------------------------------------------------------------------------------*/
   /*poorly made mobile compatibility*/
  .top-header { 
   box-shadow: 0px 9px 40px rgb(24, 0, 34);
   width:75%; 
   height:44px; 
   margin: 0 auto;
   padding: 0;
   background-color: #c290ff; 
   background-image: url('images/grad.png');
   background-position: center center;
 }
 .button {
   font-size:16px;
   margin: 0 16px 0 2px; /* left and right */
   height: 40px;
   background: transparent;
   border: none;
   color: white;
   cursor: pointer;
   text-shadow: 0px 4px 5px  black;
   position: relative;
   top: 50%;
   -webkit-transform: translateY(-50%);
 }
   .big{
    margin: 21;
    font-size:32px;
  }
  p{
    font-size:12px;
    font-family:'Courier New', Courier, monospace;
   color: white;
  }
body.white {
  background-color: #ffffff;
}
body.pinstripe {
  background: #c7ced5 url('images/pinstripes2.png');
}
p { margin:4 }
body {
     margin: 0;
     padding: 0;
     background-repeat: no-repeat;
     background-position: center center;
  }
  .box {
    z-index:30;
    position: relative;
    width: 200px;
    height: 340px;
    }
  img {
    width: 185;
    height: 329;
    margin: 5 auto;
    position: relative;
    z-index:30;
  }
/*--------------------------------------------------------------------------------------------------------------*/
   /*poorly made pc compatibility*/
  @media (min-width: 1083px) {
    .big{
      margin: 26;
      font-size:40px;
    }
    p{
      font-size:18px;
      font-family:'Courier New', Courier, monospace;
     color: white;
    }
  .top-header { 
   box-shadow: 0px 9px 40px rgb(24, 0, 34);
   width:50%; 
   height:44px; 
   margin: 0 auto;
   padding: 0;
   background-color: #c290ff; 
   background-image: url('images/grad.png');
   background-position: center center;
 }
 .button {
   font-size:16px;
   margin: 0 25px 0 2px; /* left and right */
   height: 40px;
   background: transparent;
   border: none;
   color: white;
   cursor: pointer;
   text-shadow: 0px 4px 5px  black;
   position: relative;
   top: 50%;
   -webkit-transform: translateY(-50%);
 }
  body.white {
    background-color: #ffffff;
  }
  body.pinstripe {
    background: #c7ced5 url('images/pinstripes2.png');
  }
  p { margin:4 }
  body {
       margin: 0;
       padding: 0;
       background-repeat: no-repeat;
       background-position: center center;
    }
    .box {
      z-index:30;
      width: 300px;
      height: 400px;
      position: relative;
      }
    img {
      width: 215;
      height: 383;
      margin: 5 auto;
      position: relative;
      z-index:30;
    }
  }