.top-header { 
    width:90%; 
    height:40px; 
    margin: 0 auto;
    padding: 0;
    background-color: #c290ff; 
    border-bottom: 4px solid #943cfc;
   }
   .button {
    font-size:16px;
    margin: 0 5px 0 5px; /* left and right */
    height: 40px;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    
    position: relative;
    top: 50%;
    transform: translateY(-50%);
   } 
body.white {
  background-color: #ffffff;
}
p { margin:4 }
body {
     margin: 0;
     padding: 0;
     background-repeat: no-repeat;
     background-position: center center;
  }
.box {
    width: 1200px;
    height: 400px;
  }
body.pinstripe {
  background: #c7ced5 url('images/pinstripes.png');
}
img {
    margin: 14 11;
    display: inline-flex;
    justify-content: space-between;
  }