/*--------------------------------------------------------------------------------------------------------------*/
   /*poorly made mobile compatibility*/
  .top-header { 
   box-shadow: 0px 9px 40px rgb(0, 0, 0);
   width:100%; 
   height:44px; 
   margin: 0 auto;
   padding: 0;
   background-color: #c290ff; 
   background-image: url('images/grad.png');
   background-position: center center;
 }
 .button {
   font-size:16px;
   margin: 0 16px 0 2px; /* left and right */
   height: 40px;
   background: transparent;
   border: none;
   color: rgb(167, 167, 167);
   cursor: pointer;
   text-shadow: 0px 4px 5px  black;
   position: relative;
   top: 50%;
   -webkit-transform: translateY(-50%);
 }
body.white {
  background-color: #ffffff;
}
body.pinstripe {
  background: #c7ced5 url('images/pinstripes.png');
}
p { margin:4 }
body {
     margin: 0;
     padding: 0;
     background-repeat: no-repeat;
     background-position: center center;
  }
  .box {
    z-index:30;
    position: relative;
    width: 370px;
    height: 560px;
    }
  img {
    height: 269;
    width: 358;
    margin: 5 auto;
    position: relative;
    z-index:30;
  }
/*--------------------------------------------------------------------------------------------------------------*/
.big{
  margin: 6;
  font-size:20px;
}
.bi{
  margin: 6;
  font-size:18px;
}
   /*poorly made pc compatibility*/
  @media (min-width: 1083px) {
  .top-header { 
   box-shadow: 0px 9px 40px rgb(0, 0, 0);
   width:100%; 
   height:44px; 
   margin: 0 auto;
   padding: 0;
   background-color: #c290ff; 
   background-image: url('images/grad.png');
   background-position: center center;
 }
 .button {
   font-size:16px;
   margin: 0 25px 0 2px; /* left and right */
   height: 40px;
   background: transparent;
   border: none;
   color: rgb(167, 167, 167);
   cursor: pointer;
   text-shadow: 0px 4px 5px  black;
   position: relative;
   top: 50%;
   -webkit-transform: translateY(-50%);
 }
  body.white {
    background-color: #ffffff;
  }
  body.pinstripe {
    background: #c7ced5 url('images/pinstripes.png');
  }
  p { margin:4 }
  body {
       margin: 0;
       padding: 0;
       background-repeat: no-repeat;
       background-position: center center;
    }
    .box {
      z-index:30;
      width: 1100px;
      height: 400px;
      position: relative;
      }
    img {
      width: 506;
      height: 379;
      margin: 5 auto;
      position: relative;
      z-index:30;
    }
  }