body {
  /* background-image: url(images/moment.png);*/
  background: rgb(42,0,43);
  background: linear-gradient(90deg, rgba(42,0,43,1) 21%, rgba(232,183,255,1) 50%, rgba(65,63,117,1) 79%);
   background-size: 4000px 4000px;
   margin: 0;
   padding: 0;
   background-repeat: no-repeat;
   background-position: center center;
}
.mods {
  margin: 118;
  margin-left: -650;
  padding: 0;
  object-fit: contain;
  width: 420px;
  height: 590px;
}
.games {
  margin: -708;
  padding: 0;
  object-fit: contain;
  width: 420px;
  height: 590px;
}
.channels {
  margin: 118;
  margin-right: -645;
  padding: 0;
  object-fit: contain;
  width: 420px;
  height: 590px;
}
.icon {
z-index:30; 
cursor: pointer; 
width: 260px;
height: 156px;

}
img {
  margin: 14 11;
  display: inline-flex;
  justify-content: space-between;
}
.box {
  margin: -767 -690;
  padding: 0;
  object-fit: contain;
  width: 1178px;
  height: 674px;
  pointer-events: none;
  background: url(images/maid.png);
}
.nyan {
  margin-left: -141;
  margin-top: -120px;
}
.forgive {
  margin: -272 0;
  padding: 0;
  object-fit: contain;
  width: 1178px;
  height: 674px;
  pointer-events: none;
  background: url(images/forgive.png);
}
.top-header { 
 filter: drop-shadow(5px 20px 20px rgba(34, 0, 44, 0.838));
 width:90%; 
 height:40px; 
 margin: 0 auto;
 padding: 0;
 background-color: #c290ff; 
 border-bottom: 4px solid #943cfc;
}
.button {
 font-size:16px;
 margin: 0 5px 0 2px; /* left and right */
 height: 40px;
 background: transparent;
 border: none;
 color: white;
 cursor: pointer;
 
 position: relative;
 top: 50%;
 -webkit-transform: translateY(-50%);
} 