/*--------------------------------------------------------------------------------------------------------------*/
   /*poorly made mobile compatibility*/
body.pinstripe {
  background: #c7ced5 url('images/pinstripes.png');
}
.box{
margin-top: -925;
text-align: center;
width: 310px;
height: 240px;
}
.Cydia{
width: 288px;
height: 288px;
}
.GameCenter{
width: 301px;
height: 104px;
}
.text{
width: 300px;
height: 440px;
}
.text1 {
  max-width: 15;
  min-width: 15;
/* font-family: Arial, Helvetica, sans-serif;*/
  color: #000000;
  font-size:49px;
  -webkit-transform: translateX(-370%);
  margin-top: 500;
  z-index:30;  
  padding: 0;
  position: relative;
}
.text2 {
  max-width: 405;
  min-width: 405;
 /* font-family: Arial, Helvetica, sans-serif;*/
  color: #000000;
  font-size:30px;
  -webkit-transform: translateX(-11.5%);
  margin-top: 0;
  z-index:30;  
  padding: 0;
  position: relative;
}
img {
  margin-top: 14;
  display: inline-flex;
  justify-content: space-evenly;
}
  .top-header { 
   box-shadow: 0px 9px 40px rgb(0, 0, 0);
   width:100%; 
   height:44px; 
   margin: 0 auto;
   padding: 0;
   background-color: #c290ff; 
   background-image: url('images/grad.png');
   background-position: center center;
 }
 .button {
   font-size:16px;
   margin: 0 16px 0 2px; /* left and right */
   height: 40px;
   background: transparent;
   border: none;
   color: rgb(167, 167, 167);
   cursor: pointer;
   text-shadow: 0px 4px 5px  black;
   position: relative;
   top: 50%;
   -webkit-transform: translateY(-50%);
 }
body.white {
background-color: #ffffff;
}
p { margin:4 }
body {
   margin: 0;
   padding: 0;
   background-repeat: no-repeat;
   background-position: center center;
}
/*--------------------------------------------------------------------------------------------------------------*/
   /*poorly made pc compatibility*/
   @media (min-width: 1243px) {
    .box{
    margin-top: -455;
    width: 570px;
    height: 240px;
    }
    .Cydia{
      width: 380px;
      height: 380px;
      }
      .GameCenter{
      width: 470px;
      height: 163px;
      }
    .text{
    width: 500px;
    height: 440px;
    }
    .text1 {
      max-width: 15;
      min-width: 15;
    /* font-family: Arial, Helvetica, sans-serif;*/
      color: #000000;
      font-size:59px;
      -webkit-transform: translateX(2650%);
      margin-top: 80;
      z-index:30;  
      padding: 0;
      position: relative;
    }
    .text2 {
      max-width: 405;
      min-width: 405;
     /* font-family: Arial, Helvetica, sans-serif;*/
      color: #000000;
      font-size:39px;
      -webkit-transform: translateX(-115%);
      margin-top: -330;
      z-index:30;  
      padding: 0;
      position: relative;
    }
    img {
      margin: 14;
      display: inline-flex;
      justify-content: space-evenly;
    }
      .top-header { 
   box-shadow: 0px 9px 40px rgb(0, 0, 0);
   width:100%; 
   height:44px; 
   margin: 0 auto;
   padding: 0;
   background-color: #c290ff; 
   background-image: url('images/grad.png');
   background-position: center center;
 }
 .button {
   font-size:16px;
   margin: 0 25px 0 2px; /* left and right */
   height: 40px;
   background: transparent;
   border: none;
   color: rgb(167, 167, 167);
   cursor: pointer;
   text-shadow: 0px 4px 5px  black;
   position: relative;
   top: 50%;
   -webkit-transform: translateY(-50%);
 }
  }