body.pinstripe {
  background: #c7ced5 url('images/pinstripes.png');
}
.box{
  margin-top: -455;
width: 500px;
height: 240px;
}
.text{
width: 500px;
height: 440px;
}
.sigma {
  max-width: 15;
  min-width: 15;
/* font-family: Arial, Helvetica, sans-serif;*/
  color: #000000;
  font-size:59px;
  margin-left: 700;
  margin-top: 80;
  z-index:30;  
  padding: 0;
  position: relative;
}
.erm {
  max-width: 405;
  min-width: 405;
 /* font-family: Arial, Helvetica, sans-serif;*/
  color: #000000;
  font-size:39px;
  margin-left: -1000;
  margin-top: -330;
  z-index:30;  
  padding: 0;
  position: relative;
}
img {
  margin: 14;
  display: inline-flex;
  justify-content: space-evenly;
}
.top-header { 
  filter: drop-shadow(5px 20px 20px rgba(34, 0, 44, 0.838));
  width:90%; 
  height:40px; 
  margin: 0 auto;
  padding: 0;
  background-color: #c290ff; 
  border-bottom: 4px solid #943cfc;
 }
 .button {
  font-size:16px;
  margin: 0 5px 0 5px; /* left and right */
  height: 40px;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
 } 
body.white {
background-color: #ffffff;
}
p { margin:4 }
body {
   margin: 0;
   padding: 0;
   background-repeat: no-repeat;
   background-position: center center;
}