body {
  background: url(images/a.png);
   background-size: 1800px 1100px;
   margin: 0;
   padding: 0;
   background-repeat: no-repeat;
   background-position: center center;
}
.sigma {
  max-width: 15;
  min-width: 15;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size:59px;
  margin-left: 700;
  margin-top: 80;
  z-index:30;  
  padding: 0;
  position: relative;
}
.erm {
  max-width: 405;
  min-width: 405;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size:39px;
  margin-left: -1000;
  margin-top: -330;
  z-index:30;  
  padding: 0;
  position: relative;
}
img {
  width: 380px;
  height: 380px;
  margin: -344 11;
  display: inline-flex;
  justify-content: space-evenly;
}
.top-header { 
  width:90%; 
  height:40px; 
  margin: 0 auto;
  padding: 0;
  background-color: #c290ff; 
  border-bottom: 4px solid #943cfc;
}
.button {
  font-size:16px;
  margin: 0 5px 0 5px; /* left and right */
  height: 40px;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  
  position: relative;
  top: 50%;
  transform: translateY(-50%);
} 