   body {
    /* background-image: url(images/moment.png);*/
     margin: 0;
     padding: 0;
     background-image: url('images/lowress.png');
     background-position: center center;
  }
  .socialsbox {
   align-items: center;
  flex-direction: column;
  gap: 30px; 
  margin: 0 0;
  position: relative;
  object-fit: contain;
  width: 400px;
  height: 100px;
}
 .box {
  align-items: center;
  flex-direction: column;
  gap: 30px; 
  background-color: #000000d8;
  border: 4px solid rgb(167, 167, 167);
  box-shadow: 0px 4px 5px  black;
  margin: 0 40;
  width: 260px;
  height: 393px;
}
 .mainbox {
  display: flex;
  /*background-color: aqua;*/
  margin: 40 0;
  object-fit: contain;
  width: 1000px;
  height: 400px;
}
 .textbox {
  background-color: #000000d8;
  border: 4px solid rgb(167, 167, 167);
  box-shadow: 0px 4px 5px  black;
  width: 913px;
  height: 40px;
}
 h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(167, 167, 167);
  text-shadow: 0px 4px 5px  black;
  font-size:30px;
}
 .shittext {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(167, 167, 167);
  margin: 0 0;
  text-shadow: 0px 4px 5px  black;
  font-size:30px;
}
.icon {
  border-top: 4px solid rgb(167, 167, 167);
  padding-top: 20px;
  border-bottom: 4px solid rgb(167, 167, 167);
  padding-bottom: 20px;
  cursor: pointer; 
  width: 170px;
  height: 170px;
  }
    .fifi{
      height: 239px;
      width: 334px;
      position: relative;
       margin-left: -345;
       margin-top: 110;
       z-index:30;  
   }
  .second {
    max-width: 105vw;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(167, 167, 167);
    font-size:40px;
    margin-top: -20;
    z-index:30;  
    padding: 0;
    position: relative;
  }
  .third {
    max-width: 105vw;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size:40px;
    margin-top: -20;
    z-index:30;  
    padding: 0;
    text-shadow: px 3px #000000;
    position: relative;
  }
    .top-header { 
   box-shadow: 0px 9px 40px rgb(0, 0, 0);
   width:100%; 
   height:44px; 
   margin: 0 auto;
   padding: 0;
   background-color: #c290ff; 
   background-image: url('images/grad.png');
   background-position: center center;
 }
 .button {
   font-family:Arial,Helvetica,sans-serif;
   font-size:15px;
   margin: 0 25px 0 2px; /* left and right */
   height: 40px;
   background: transparent;
   border: none;
   color: rgb(167, 167, 167);
   cursor: pointer;
   text-shadow: 0px 4px 5px  black;
   position: relative;
   top: 50%;
   -webkit-transform: translateY(-50%);
 }