/*--------------------------------------------------------------------------------------------------------------*/
   /*poorly made mobile compatibility*/
   body {
    /* background-image: url(images/moment.png);*/
     margin: 0;
     padding: 0;
     background-image: url('images/lowress.png');
     background-position: center center;
  }
.textshit {
  z-index:30; 
  float: none;
  margin: -1630 0;
  object-fit: contain;
  width: 470px;
  height: 300px;
}
.box {
  z-index:30; 
  margin: 330 0;
  object-fit: contain;
  width: 300px;
  height: 1040px;
}
.icon {
  cursor: pointer; 
  width: 80px;
  height: 80px;
  }
  img {
    margin: 20 0;
  }
    .fifi{
      height: 263px;
      width: 367px;
      position: relative;
       margin-left: -305;
       margin-top: 130;
       z-index:30;  
   }
   .LR {
    position: relative;
    margin-left: -1470;
    margin-top: 43.4;
    z-index:30;  
    }
 h2 {
  text-align: center;
    max-width: 105vw;
    font-family: 'Courier New', Courier, monospace;
    color: #FFFFFF;
    font-size:35px;
    margin-left: 0;
    margin-top: -890;
    z-index:30;  
    padding: 0;
    text-shadow: 5px 5px #000000;
    position: relative;
  }
  .second {
    max-width: 105vw;
    font-family: 'Courier New', Courier, monospace;
    color: #FFFFFF;
    font-size:31px;
    margin-left: 0;
    margin-top: -20;
    z-index:30;  
    padding: 0;
    text-shadow: px 3px #000000;
    position: relative;
  }
  .third {
    max-width: 105vw;
    font-family: 'Courier New', Courier, monospace;
    color: #FFFFFF;
    font-size:31px;
    margin-left: 0;
    margin-top: -20;
    z-index:30;  
    padding: 0;
    text-shadow: px 3px #000000;
    position: relative;
  }
  body {
    background-image: url('images/lowress.png');
    background-position: center;
 }
  .top-header { 
   box-shadow: 0px 9px 40px rgb(0, 0, 0);
   width:100%; 
   height:44px; 
   margin: 0 auto;
   padding: 0;
   background-color: #c290ff; 
   background-image: url('images/grad.png');
   background-position: center center;
 }
 .button {
   font-size:16px;
   margin: 0 16px 0 2px; /* left and right */
   height: 40px;
   background: transparent;
   border: none;
   color: white;
   cursor: pointer;
   text-shadow: 0px 4px 5px  black;
   position: relative;
   top: 50%;
   -webkit-transform: translateY(-50%);
 }

/*--------------------------------------------------------------------------------------------------------------*/
   /*poorly made pc compatibility*/
   @media (min-width: 943px) {
 .box {
  margin: 340 0;
  object-fit: contain;
  width: 400px;
  height: 100px;
}
.textshit {
  float: none;
  position: relative;
  margin: 0 0;
  object-fit: contain;
  width: 720px;
  height: 340px;
}
.icon {
  cursor: pointer; 
  width: 100px;
  height: 100px;
  }
  img {
    margin: 0 11;
  }
    .fifi{
      height: 239px;
      width: 334px;
      position: relative;
       margin-left: -345;
       margin-top: 110;
       z-index:30;  
   }
 h2 {
  text-align: center;
    max-width: 105vw;
    font-family: 'Courier New', Courier, monospace;
    color: #FFFFFF;
    font-size:44px;
    margin-top: -740;
    z-index:30;  
    padding: 0;
    text-shadow: 5px 5px #000000;
    position: relative;
  }
  .second {
    max-width: 105vw;
    font-family: 'Courier New', Courier, monospace;
    color: #FFFFFF;
    font-size:40px;
    margin-top: -20;
    z-index:30;  
    padding: 0;
    text-shadow: px 3px #000000;
    position: relative;
  }
  .third {
    max-width: 105vw;
    font-family: 'Courier New', Courier, monospace;
    color: #FFFFFF;
    font-size:40px;
    margin-top: -20;
    z-index:30;  
    padding: 0;
    text-shadow: px 3px #000000;
    position: relative;
  }
    .top-header { 
   box-shadow: 0px 9px 40px rgb(0, 0, 0);
   width:100%; 
   height:44px; 
   margin: 0 auto;
   padding: 0;
   background-color: #c290ff; 
   background-image: url('images/grad.png');
   background-position: center center;
 }
 .button {
   font-size:16px;
   margin: 0 25px 0 2px; /* left and right */
   height: 40px;
   background: transparent;
   border: none;
   color: white;
   cursor: pointer;
   text-shadow: 0px 4px 5px  black;
   position: relative;
   top: 50%;
   -webkit-transform: translateY(-50%);
 }
}