.thumbnail { 
    align-items: center;
    top:-50px; 
    left:-35px; 
    display:block; 
    z-index:30; 
    cursor: pointer; 
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.46s; 
    -webkit-transition-timing-function: ease; 
    } 
    .d {
        margin-left: -395px;
        margin-top: -4px;
    }
    audio {
        float: bottom;
        margin-top:234px;
      }
    .icon1 { 
        margin-left: -273px;
        margin-top: 305px;
        z-index:30; 
        cursor: pointer; 
        } 
    .icon2 { 
        margin-left: -473px;
        margin-top: 305px;
        z-index:30; 
        cursor: pointer; 
        } 
    .icon3 { 
         margin-left: -73px;
         margin-top: 305px;
         z-index:30; 
         cursor: pointer; 
        } 
    .icon4 { 
        margin-left: 123px;
         margin-top: 305px;
        z-index:30; 
        cursor: pointer; 
        } 
        .icon5 { 
         margin-left: -673px;
         margin-top: 305px;
        z-index:30; 
        cursor: pointer; 
        } 
    /*change the number below to scale to the appropriate size*/ 
    .thumbnail:hover { 
    transform: scale(1.2); 
    }
    .heshere {
        margin-left: 765px;
        margin-top: -4px;
    }
    .wallimg {
        margin-left: -820px;
        margin-top: 168px;
    }

    .wallimgtext {
        margin-left: -720px;
        margin-top: 168px;
    }
    .nyan {
        margin-left: -325px;
        margin-top: 5px;
    }
    .pibby {
        margin-left: 425px;
        margin-top: 670px;
    }
    .pibbytext {
        margin-left: 535px;
        margin-top: 920px;
    }

h2 {

    color:#ffffff

    }
    p {

        color:#ffffff
    
        }
    .bg {
        width: 100%;
        height: auto;
        align-items: center;
        overflow: hidden;
        flex-wrap: wrap;
        display: block;
        margin-top: 230px; 
    }
